/* Book Style styles */

div#book-studio {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #cccccc;
}

form#stylesForm h2 {
  text-align: center;
  margin-bottom: 6px;
}

div#bookStyles {
  /* position: relative; */
}
