section#bookcase {
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  margin: 0 auto;
  width: 600px;
}

section#bookcase button.bookcaseButton {
  background-color: rgb(118, 76, 5);
  border: 1px solid rgb(220, 177, 75);
  color: white;
  border-radius: 4px;
  font-size: 14px;
  padding: 7px;
  width: 200px;
  margin: 0 auto 8px;
}

div#shelves {
  width: 640px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: start;
  align-items: start;
  margin-bottom: 10px;
}

div#shelf-unshelved {
  border: none;
  align-items: start;
  background-color: #a09999;
  height: auto;
  padding: 10px 20px 0;
  width: 600px;
  margin: 10px 0;
}

div#shelf-unshelved.empty {
  display: none;
}

div#shelf-unshelved ul.stack {
  width: auto;
  min-height: 180px;
  flex-wrap: wrap;
  background-color: transparent;
  background-image: none;
}

div#shelf-unshelved li {
  margin-bottom: 10px;
  height: 170px;
}

@media screen and (max-width: 639px) {
  section#bookcase {
    flex-direction: column;
    width: 300px;
  }

  section#bookcase div#shelves {
    width: 300px;
  }

  div#shelf-unshelved {
    align-items: start;
    height: auto;
    width: 300px;
  }
}
