section#bookcase div.shelf {
  width: 300px;
  height: 180px;
  background-color: rgb(241, 181, 91);
  border: 10px solid rgb(195, 140, 45);
  display: flex;
  direction: row;
  align-items: end;
  justify-content: space-between;
}

section#bookcase div.shelf li {
  height: 200px;
  position: relative;
}
