section#profile {
  display: flex;
}
.bookCard{
  display: flex;
  flex-direction: column;
  width: 250px;
  min-height: 400px;
  margin:6px
  /* margin:auto; */

 
}
.bookImage{
  width: 150px;
  height: 200px;
}
h5{
 font-weight: 500;
}
