.book {
  list-style-type: none;
  padding: 0;
  margin: 0;
  writing-mode: vertical-rl;
  line-height: 13px;
  vertical-align: middle;
  border: 1px solid gray;
  border-radius: 3px;
  box-sizing: border-box;
}

/* SIZE */

.book.tall {
  height: 160px;
}

.book.medium {
  height: 145px;
}

.book.short {
  height: 125px;
}

.book.thin {
  width: 20px;
}

.book.mid {
  width: 30px;
}

.book.thick {
  width: 45px;
}

.book.paperback {
  border-radius: 0;
}

.book.tight .author {
  display: none;
}

.book.tight .title {
  font-size: 11px;
  line-height: 11px;
}

/* TEXT */

.book .spineText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 6px 0 6px;
  width: 100%;
}

.book .title {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 12px;
}
.book .author {
  display: block;
  font-size: 10px;
  line-height: 10px;
}

/* COLOR */

.book.red {
  background-color: rgb(156, 34, 34);
  color: white;
}
.book.blue {
  background-color: rgb(67, 67, 212);
  color: white;
}
.book.yellow {
  background-color: rgb(206, 206, 49);
  color: black;
}
.book.white {
  background-color: white;
  color: black;
}
.book.purple {
  background-color: rgb(132, 41, 132);
  color: white;
}
.book.orange {
  background-color: rgb(220, 155, 34);
}
.book.green {
  background-color: rgb(26, 106, 26);
  color: white;
}
.book.black {
  background-color: black;
  color: yellow;
}

/* ACCENTS */

.book.leather {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.book div.accent {
  /* background-color: rgb(220, 155, 34); */
  width: 100%;
  height: 5px;
  border: none;

  background-image: linear-gradient(rgba(255, 255, 255, 0.3), transparent);
}
