*{
 margin: 0;   
 padding: 0;
}

.close-icon.close-icon-book {
    right: -30px;
}
.container{
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.searchbtn{
    right: 10px;
    top: 10px;
}
#selection-modal{
    display: flex;
    justify-content: center;
    margin-top: 104px;
}
.form {
    width: 100%;
}
.label{
  text-align: center;  
  padding: 7px;
}
.modalClass {
    /* background-color: rgba(255,255,255, 0.8); */
    background-color: white;
    max-width:550px
}
.star-container{
    display: flex;
}
.searchResult{
padding: 10px;
border-bottom: solid 1px lightgrey;

}