section#bookList {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
}

section#bookList div button:last-of-type {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
#bookList {
  margin: 0 15px;
}
#bookList .divide-y {
  width: 100%;
}
#bookList div.py-5 {
  background-color: rgb(179, 187, 224);
  max-width: 800px;
}
#bookList .bookInfo {
  color: black;
}

#bookList button {
  padding: 8px;
  background-color: #97a5cc;
  color: black;
  border-top: 1px solid #8082ac;
}
#bookList button h2 span {
  margin-left: 10px;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #ffffff;
}
.star-container {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  #bookList button {
    background-color: #343346;
    color: rgb(215, 215, 215);
  }
  #bookList button h2 span {
    color: #a5a5a5;
  }
  #bookList div.py-5 {
    background-color: #494e71;
  }
  main#booklistContainer {
    background-color: #61668e;
  }
}

@media (max-width: 768px) {
  section#bookList {
    max-width: 95%;
  }
}
