div.shelf {
  width: 320px;
  height: 190px;
  background-color: rgb(241, 181, 91);
  border: 10px solid rgb(195, 140, 45);
  display: flex;
  direction: row;
  align-items: end;
  justify-content: space-between;
}

div.shelf.unshelved {
  width: 100%;
  border: none;
  background-color: transparent;
  height: auto;
}
