div#defaultModal {
  margin-top: 50px;
}

div.infoContainer {
  flex-grow: 1;
}

div.fullContainer {
  position: relative;
  padding-bottom: 20px;
}

div.fullContainer img.bookImage {
  width: 200px;
  height: auto;
  margin-right: 12px;
}

div.infoContainer span {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding: 3px 0 3px;
  display: block;
  margin: 10px 0 10px;
}

div.infoContainer div {
  margin: 10px 0 10px;
}

div.infoContainer a {
  position: absolute;
  font-size: 12px;
  bottom: 10px;
  right: 10px;
}

@media screen and (max-width: 400px) {
  div.infoContainer {
    font-size: 14px;
    line-height: 16px;
    margin-right: 10px;
  }
  div.fullContainer img.bookImage {
    width: 75px;
  }

  div.infoContainer h3 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 10px;
  }
}
