ul.stack {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: end;
}

ul.stack.right {
  justify-content: end;
}

ul.stack li {
  height: 100%;
  display: flex;
  align-items: end;
}

div.unshelved ul.stack {
  height: auto;
  min-height: 160px;
  flex-wrap: wrap;
}

div.unshelved ul.stack li {
  /* height: 100%; */
  margin: 10px 0;
}
